{% load i18n %}
<div class="row">
    <div class="columns large-4 large-centered panel">
    <ul class="pagination centered">
        <li class="arrow{% if not has_previous %} unavailable{% endif %}"><a href="?page={{ previous }}">&laquo;</a></li>
        <li class="current">
            Page {{ page }} of {{ pages }} ({% blocktrans count hits as posts %}{{ posts }} post{% plural %}{{ posts }} posts{% endblocktrans %})
            {% if subscription %}
                <a href="{{ subscription.feed.link }}">{{ subscription.name }}</a>
            {% endif %}
            {% if tag %}
                {{ tag.name }}
            {% endif %}
        </li>
        <li class="arrow{% if not has_next %} unavailable{% endif %}"><a href="?page={{ next }}">&raquo;</a></li>
    </ul>
    </div>
</div>
